<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            background-color:blanchedalmond;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }

        footer {
            background-color:dimgrey;
            text-align: center;
            padding: 1rem;

        }
    </style>
</head>
<body>
    <div class="wrapper">
        <header>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Students" asp-action="Index">Add Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Students" asp-action="Index">Update Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Students" asp-action="Index">Delete Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Students" asp-action="Index">Display Student</a>
                </li>
            </ul>
        </header>

        <main>
            <div>
                @RenderBody()
            </div>
        </main>

        <footer>
            All Rights Reserved At Student
        </footer>
        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
